/* ---------- One class per action, to change the background-image property ---------- */
.action.add{
	background-image: url(actions/add.png);
}
.action.block{
	background-image: url(actions/block.png);
}
.action.camera_add{
	background-image: url(actions/camera_add.png);
}
.action.camera_delete{
	background-image: url(actions/camera_delete.png);
}
.action.camera_edit{
	background-image: url(actions/camera_edit.png);
}
.action.chart_organization,
.action.chart_organisation{
	background-image: url(actions/chart_organisation.png);
}
.action.chart_organization_add,
.action.chart_organisation_add{
	background-image: url(actions/chart_organisation_add.png);
}
.action.chart_organization_delete,
.action.chart_organisation_delete{
	background-image: url(actions/chart_organisation_delete.png);
}
.action.clone{
	background-image: url(actions/clone.png);
}
.action.compare{
	background-image: url(actions/compare.png);
}
.action.config{
	background-image: url(actions/config.png);
}
.action.config-expert{
	background-image: url(actions/config-expert.png);
}
.action.delete{
	background-image: url(actions/delete.png);
}
.action.details{
	background-image: url(actions/details.png);
}
.action.disable{
	background-image: url(actions/disable.png);
}
.action.down{
	background-image: url(actions/down.png);
}
.action.download{
	background-image: url(actions/download.png);
}
.action.edit{
	background-image: url(actions/edit.png);
}
.action.email{
	background-image: url(actions/email.png);
}
.action.enable{
	background-image: url(actions/enable.png);
}
.action.enable-disabled{
	background-image: url(actions/enable-disabled.png);
	cursor: default;
}
.action.key_add{
	background-image: url(actions/key_add.png);
}
.action.key_go{
	background-image: url(actions/key_go.png);
}
.action.link_financial_instruments{
	background-image: url(actions/link_financial_instruments.png);
}
.action.login{
	background-image: url(actions/login.png);
}
.action.logout{
	background-image: url(actions/logout.png);
}
.action.map{
	background-image: url(actions/map.png);
}
.action.map-disabled{
	background-image: url(actions/map-disabled.png);
	cursor: default;
}
.action.previous{
	background-image: url(actions/arrow_left.png);
}
.action.money{
	background-image: url(actions/money.png);
}
.action.money_add{
	background-image: url(actions/money_add.png);
}
.action.money_delete{
	background-image: url(actions/money_delete.png);
}
.action.more{
	background-image: url(actions/more.png);
}
.action.phone{
	background-image: url(actions/phone.png);
}
.action.print{
	background-image: url(actions/print.png);
}
.action.refresh{
	background-image: url(actions/refresh.png);
}
.action.report{
	background-image: url(actions/report.png);
}
.action.restore{
	background-image: url(actions/restore.png);
}
.action.database,
.action.roll{
	background-image: url(actions/roll.png);
}
.action.save{
	background-image: url(actions/save.png);
}
.action.save_and_continue{
	background-image: url(actions/save_and_continue.png);
}
.action.scroll{
	background-image: url(actions/scroll.png);
}
.action.search{
	background-image: url(actions/search.png);
}
.action.shipping{
	background-image: url(actions/shipping.png);
}
.action.start_timer{
	background-image: url(actions/start_timer.png);
}
.action.stop_timer{
	background-image: url(actions/stop_timer.png);
}
.action.up{
	background-image: url(actions/up.png);
}
.action.upload{
	background-image: url(actions/upload.png);
}
.action.user{
	background-image: url(actions/user.png);
}
.action.user_add{
	background-image: url(actions/user_add.png);
}
.action.user_edit{
	background-image: url(actions/user_edit.png);
}
.action.user_suit{
	background-image: url(actions/user_suit.png);
}
.action.view-code{
	background-image: url(actions/view-code.png);
}
.action.warn{
	background-image: url(actions/warn.png);
}
.action.whitelist{
	background-image: url(actions/whitelist.png);
}
.action.whois{
	background-image: url(actions/whois.png);
}


/* ---------- "Next" should be on the right, not the left ---------- */
.action.next{
	background-image: url(actions/arrow_right.png);
}
.action.next.withtext,
.action.next.button{
	background-position: right 5px center;
	padding-right: 30px !important;
	padding-left: 7px !important;
}
