.severity_level{
	padding-left: 25px !important;
	background-repeat: no-repeat;
	background-position: 5px center;
}
.severity_level.informational{
	background-image: url('severity_levels/informational.png');
}
.severity_level.suspicious{
	background-image: url('severity_levels/suspicious.png');
}
.severity_level.low{
	background-image: url('severity_levels/low.png');
}
.severity_level.medium{
	background-image: url('severity_levels/medium.png');
}
.severity_level.high{
	background-image: url('severity_levels/high.png');
}
